@model BancoApp.Models.SolicitudPaquete

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SolicitudPaquete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SolPaqueteId" />
            <input type="hidden" asp-for="ClienteId" />

            <div class="form-group">
                <label asp-for="CodigoPaquete" class="control-label"></label>
                <input asp-for="CodigoPaquete" class="form-control" />
                <span asp-validation-for="CodigoPaquete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSolicitud" class="control-label"></label>
                <input asp-for="FechaSolicitud" class="form-control" />
                <span asp-validation-for="FechaSolicitud" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Aprobada" /> @Html.DisplayNameFor(model => model.Aprobada)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FechaAprobacion" class="control-label"></label>
                <input asp-for="FechaAprobacion" class="form-control" />
                <span asp-validation-for="FechaAprobacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoRechazo" class="control-label"></label>
                <input asp-for="MotivoRechazo" class="form-control" />
                <span asp-validation-for="MotivoRechazo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
